.product {
    width: calc( 50% - 40px );
    height: 20rem;
    padding: 2rem;
    box-sizing: border-box;
    border: 1px solid gray;
    margin: 20px 20px;
    background-color: lightgray;
}
.product:hover {
    transform: scale(1.1);
    transition-duration: 1s;
}